<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Envelope Descriptions</h1>
    {% if Descriptions %}
    {% for envelope_name, data in Descriptions.items %}
    <details>
        <summary>{{ data.Envelope }}</summary>
        {% if data.Description %}
        <ul>
            {% for desc in data.Description %}
            <li>
                <strong>Description: {{ desc.Description }}</strong>
                <form action="{% url 'envelopedescription_delete' desc.id %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                <a href="{% url 'envelopedescription_update' desc.id %}">Update</a>
            </li>
            <div>
                <span style="padding-right: 50px;">Money Spent: {{ desc.Money_Spent }}</span>
                <span style="padding-left: 50px;">Money Remaining: {{ desc.Money_Remaining }}</span><br>
            </div>
            Date: {{ desc.Date }} <br><br>
            {% endfor %}
        </ul>
        {% else %}
        <p>No entries</p>
        {% endif %}
    </details>
    {% endfor %}
    {% endif %}
</body>
</html>