<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrack - Home</title>
</head>
<body>
    <h1>Welcome to FinTrack</h1>
    <form action="" autocomplete="off">
        {% if user.is_authenticated %}
            <span>Hello, <b>{{ user.first_name }}</b>! 
                <a href="{% url 'addenvelope' %}">Add Envelope</a> 
                <a href="{% url 'envelopes' %}">View Envelopes</a> 
                <a href="{% url 'updateenvelope' %}">Update Envelope</a> 
                <a href="{% url 'homepage' %}">Add description</a> 
                <a href="{% url 'display_envelope_descriptions' %}">Show Spend Details</a> 
                <a href="{% url 'delete_account' %}">Delete User</a>
            </span> 
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </form>
</body>
</html>