<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <h2>Know your Username/Reset Password</h2>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="hidden" name="action" value="lookup">
        <button type="submit">Know your Username</button><br>
    </form>

    {% if context.displayEmailFoundMessage %}
        <br><li>{{ context.emailMessage }}. <a href="/login">Login</a></li><br>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ context.email }}">
            <input type="hidden" name="action" value="reset">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            <button type="submit">Reset Password</button><br>
        </form>

    {% endif %}

    {% if context.displayEmailnotFoundMessage %}
        <br><li>{{ context.emailMessage }}. <a href="/signup">Signup</a></li>
    {% endif %}

    {% if context.displayPasswordMatchMessage %}
        <br><li>{{ context.passwordMessage }}🎉🎉 <a href="/login">Login</a></li><br>
    {% endif %}

    {% if context.displayPasswordNotMatchMessage %}
        <br><li>{{ context.passwordMessage }}.</li>
    {% endif %}
</body>
</html>